/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* for specific Jobhunter values on the reg form */
.jobHunter {display: none;}
/* for specific Small Biz and freelancers values on the reg form */
.smallBiz {display: none;}
/* for specific hiring businesses values on the reg form */
.hireBiz {display: none;}
/* for specific recruitment agency values on the reg form */
.recruiters {display: none;}
/* for common values on the reg form */
.commonFields {display: none;}
/* for small businesses hiring businesses and recruitment agencies */
.bizCommon {display: none;}
/* for free accounts i.e. small biz and jobhunters */
.freeAcc {display: none;}
/* for premium accounts i.e. hiring biz and recruitment agents */
.premium {display: none;}